:root {
    --primary-bg: #3d5a80;
    --secondary-bg: #ee6c4d;
    --white: #ccc;
    --black: #333;
}

body {
    font-family: Helvetica, Arial, san-serif;
    background-color: var(--primary-bg);
    color: var(--white);
    font-size: 1rem;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}


/* utilities */
.text-right {
    text-align: right;
}